<% layout('/layout/fullNavBarBoilerplate') %>
<div class="container ms-4">
    <div class="mt-sm-4 row">
        <div class="border border-secondary col-sm-4 p-2">
            <h3>Department Menu</h3>
            <div>
                <a href="/departments/create-department">Create New Department</a>
            </div>
            <div>
                <a href="/departments/update-department">Edit a Department</a>
            </div>
            <div>
                <a href="/departments/delete-department">Delete Department</a>
            </div>
        </div>
   </div> 
</div>