
<% layout('/layout/fullNavBarBoilerplate') %>
<div class="container ms-4">
    <div class="mt-sm-4 row">
        <div class="border border-secondary col-sm-4 p-2">
            <h3>Positions Menu</h3>
            <div>
                <a href="/positions/create-position">Create New Position</a>
            </div>
            <div>
                <a href="/positions/update-position">Edit a Position</a>
            </div>
            <div>
                <a href="/positions/delete-position">Delete a Position</a>
            </div>
        </div>
   </div> 
</div>