<% layout('/layout/fullNavBarBoilerplate') %>
    <div class="container">
        <div class="mt-sm-4 row">
            <div class="border border-secondary col-sm-4 p-2">
                <h3>Roles and Permissions</h3>
                <div>
                    <a href="/role-permissions/create-rolePermission">Assign Permission to Role</a>
                </div>
                <div>
                    <a href="/role-permissions/delete-rolePermission">Revoke Permission to Role</a>
                </div>
                <div>
                    <a href="/role-permissions/show-rolePermission">View Permissions Granted to a Role</a>
                </div>
            </div>
            <div class="border border-secondary col-sm-4 p-2">
                <h3>Roles</h3>
                <div>
                    <a href="/roles/create-role">Create New Role</a>
                </div>
                <div>
                    <a href="/roles/update-role">Update Role</a>
                </div>
                <div>
                    <a href="/roles/delete-role">Delete Role</a>
                </div>
            </div>
            <div class="border border-secondary col-sm-4 p-2">
                <h3>Permissions</h3>
                <div>
                    <a href="/permissions/create-permission">Create New Permission</a>
                </div>
                <div>
                    <a href="/permissions/update-permission">Update Permission</a>
                </div>
                <div>
                    <a href="/permissions/delete-permission">Delete Permission</a>
                </div>
                <div>
                    <a href="/permissions/show-permissions">Show all Permissions</a>
                </div>
            </div>
        </div>
    </div>