
<% layout('./roleAndPermissionViews/roleAndPermissionLayout') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 mt-2">
                <h1>All Roles</h1>
                <ul class="list-group">
                    <% roles.forEach(element=> { %>
                        <li class="list-group-item">
                            <%= element.roleName %>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </div>
    </div>