<% layout('./roleAndPermissionViews/roleAndPermissionLayout') %>
<div class="container-fluid">
    <div class="row">
        <div class="border border-secondary col-md-4 ms-2 mt-4 p-2">
            <h2>Revoke Permission to a Role</h2>
            <form action="/role-permissions?_method=DELETE" method="post">
                <div class="form-group mt-3">
                    <label for="role_name">Role</label>
                    <select class="form-select" aria-label="Current roles" name="roleUuid" id="role_name">
                        <option selected>Select Role</option>
                        <% roles.forEach(element => { %>
                            <option value="<%= element.uuid %>"><%= element.roleName %></option>
                        <% }) %>
                    </select>
                </div>
                
                <div class="form-group mt-3">
                    <label for="permission_name">Permission</label>
                    <select class="form-select" aria-label="Current roles" name="permissionUuid" id="permission_name">
                    </select>
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-secondary btn-sm" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/script1.js"></script>

