upstream backend {
server localhost:8080;
server localhost:3000;
}

server {
listen 80;
server_name _;
root /app/WFM_app/public;

location /error_page/css {
	alias /app/WFM_app/public/error_page/css;
}
location / {
	try_files $uri @backend;
}
location @backend {
	proxy_pass http://backend;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;	
	proxy_intercept_errors on;
	error_page 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 421 422 423 424 425 426 428 429 431 451 500 501 502 503 504 505 506 507 508 510 511 /error_page/error.html;

	}

}
