<% layout('./layout/fullNavBarBoilerplate') %>
    <form action="/dashboard/departments">
        <button class="btn btn-primary btn-md ms-2 mt-2" type="submit">Back</button>
    </form>
    <%- body -%>