<% layout('./departmentViews/departmentLayout') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 mt-2">
                <h1>All Departments</h1>
                <ul class="list-group">
                    <% departments.forEach(element=> { %>
                        <li class="list-group-item">
                            <%= element.deptName %>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </div>
    </div>