
<% layout('/layout/fullNavBarBoilerplate') %>
<div class="container-fluid">
    <div class="row">
        <div class="border border-secondary col-md-4 ms-2 mt-4 p-2">
            <h2>Create New Permission</h2>
            <form action="/permissions" method="post">
                <div class="form-group mt-3">
                    <label for="newPermission">New Permission: </label>
                    <input type="text" name="newPermission" id="newPermission">
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-secondary btn-sm" type="submit">Submit</button>
                    <button class="btn btn-secondary btn-sm" onClick="history.go(-1);" >Back</button>
                </div>
            </form>
        </div>
    </div>
</div>